.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'inspoMain';
  src: local('inspoMain'), url(./fonts/inspoMain.ttf) format('truetype');
}

@font-face {
  font-family: 'inspoSub';
  src: local('inspoSub'), url(./fonts/inspoSub.otf) format('opentype');
}

@font-face {
  font-family: 'inspoSub2';
  src: local('inspoSub2'), url(./fonts/inspoSub2.ttf) format('truetype');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
